/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
} 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}


/** Common Start **/
:root {
    --font-serif: 'Lora', serif;
    /* --font-serif: 'Noto Serif', serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-serif);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.8rem 2rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    height:30px;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    /* color: #11455C; */
    color: #000;
    font-weight: 500;
    font-size: 1rem;
}

@media (max-width: 768px) {
    /* .nav-links {
        display: none;
    } */
    nav {
        padding: 0.8rem 1rem;
    }
}

@media (max-width: 480px) {
    .logo {
        height:20px;
    }

    .nav-links {
        gap: 0.5rem;
    }

    .nav-links a {
        font-size: 0.85rem;
    }
}


.footer {
    background-color: white;
    padding: 2rem 0;
}

.footer-container {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    font-size: 0.7rem;
    color: #000;
    line-height: 1.5;
}

.copyright {
    color: #000;
    font-size: 0.7rem;
}

.footer-logos {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-logo {
    height: 24px;
    width: auto;
}

@media (max-width: 768px) {
    .footer-container {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    
    .address {
        order: 1;
    }
    
    .copyright {
        order: 3;
    }
    
    .footer-logos {
        order: 2;
    }

    .footer-logo {
        height: 20px;
    }
}